{% extends 'base.html' %}

{% block title %}Подтверждение адреса электронной почты{% endblock %}

{% block content %}
    <div class="register-page">
        <h1>Аккаунт не активирован</h1>
        <p>Подтверди email, чтобы войти.</p>
        <p class="message">Уже есть аккаунт?</p>
        <a href="{% url 'account_login' %}" class="nav-btn">Войти</a>
        <p class="message">Зарегистрироваться</p>
        <a href="{% url 'account_signup' %}" class="nav-btn">Зарегистрироваться</a>
    </div>
{% endblock %}
