{% extends 'base.html' %}

{% block title %}Подтверждение адреса электронной почты{% endblock %}

{% block content %}
    <div class="register-page">
        <h3>Подтверждение адреса электронной почты</h3>
        <p>
            Мы отправили вам письмо с подтверждением. Перейдите по указанной ссылке, чтобы завершить процесс регистрации. Если вы не видите письмо с подтверждением в вашем основном почтовом ящике, проверьте папку "Спам".Пожалуйста, свяжитесь с нами, если вы не получите письмо с подтверждением в течение нескольких минут.
        </p>
        <p class="message">Уже есть аккаунт?</p>
        <a href="{% url 'account_login' %}" class="nav-btn">Войти</a>
        <p class="message">Зарегистрироваться</p>
        <a href="{% url 'account_signup' %}" class="nav-btn">Зарегистрироваться</a>
    </div>
{% endblock %}
