{% extends 'base.html' %}

{% block content %}

        {% for post in posts %}
            <div class="post" id="post-item-{{ post.id }}">

                <p><img src="{{ post.author.avatar.url }}" alt="Аватар" class="round"></p>
                <h3>{{ post.author.username }}</h3>
                <p>{{ post.content }}</p>
                <small>{{ post.created_at }}</small>

                <!-- Картинки -->
                {% for img in post.images.all %}
                    <img src="{{ img.image.url }}" style="max-width:200px; border-radius:10px; margin-top:10px;">
                {% endfor %}

                <!-- Лайки -->
                {% if user.is_authenticated %}
                    {% if post.is_liked %}
                        <button class="like-btn" data-post-id="{{ post.id }}">
                            <i class="fa-solid fa-heart" style="color:red;"></i>
                        </button>
                    {% else %}
                        <button class="like-btn" data-post-id="{{ post.id }}">
                            <i class="fa-regular fa-heart"></i>
                        </button>
                    {% endif %}
                {% endif %}
                <span id="like-actual-{{ post.id }}">{{ post.likes.count }}</span>
                <!-- Комментарии -->
            <br>
                <strong>Комментарии:</strong>
                {% for comment in post.comments.all %}
                    <p>{{ comment.user.username }}: {{ comment.text }}</p>
                {% endfor %}

            </div>
        {% empty %}
            <p>У вас пока нет постов.</p>
        {% endfor %}
{% endblock %}
