{% extends 'base.html' %}

{% block content %}
<a href="{% url 'post_create' %}" class="nav-btn">Создать пост</a>

<div class="sort-container" style="margin-bottom:15px;">
    <select id="sort-selector">
        <option value="date-new">По дате (сначала новые)</option>
        <option value="date-old">По дате (сначала старые)</option>
        <option value="likes">По лайкам</option>
        <option value="reposts">По репостам</option>
        <option value="comments">По комментариям</option>
    </select>
</div>

<div id="posts-container">
    {% include "partials/post_items.html" %}
</div>

{% endblock %}
