{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="profile-page">
    <!-- Информация о пользователе -->
    <div class="form">
        <p><img src="{{ c_user.avatar.url }}" alt="Аватар" class="round"></p>
        <h1>{{ c_user.username }}</h1>
        <p>Email: {{ c_user.email }}</p>
        <p>О себе: {{ c_user.bio }}</p>
    </div>

    {% if user == c_user %}
        <a href="{% url 'post_create' %}" class="nav-btn">Создать пост</a>
    {% endif %}
    <!-- ЛЕНТА -->
    <section class="feed">

        {% for post in posts reversed %}
            <div class="post" data-post-id="{{ post.id }}" id="post-item-{{ post.id }}">
                {% if user.is_authenticated and user == post.author %}
                    <div class="options-menu" data-post-id="{{ post.id }}">
                        <button class="options-btn">⋮</button>
                        <div class="dropdown">
                            <a href="{% url 'post_update' post.id %}">Изменить пост</a>
                            <button class="del-post-btn" data-post-id="{{ post.id }}">
                                Удалить пост
                            </button>
                        </div>
                    </div>
                {% endif %}
                {# ████████ 1. ЕСЛИ ЭТО РЕПОСТ ████████ #}
                <div class="post open-post" data-post-id="{{ post.id }}">
                    {% if post.original_post %}
                        <p><strong>{{ post.author.username }}</strong> сделал репост:</p>
                        {% if post.repost_text %}
                            <p>{{ post.repost_text }}</p>
                        {% endif %}
                        <div class="repost-box">
                            <p><img src="{{ post.original_post.author.avatar.url }}" class="round"></p>
                            <h3>
                                <a href="{% url 'profile' post.original_post.author.id %}">🔁 {{ post.original_post.author.username }}</a>
                            </h3>
                            <p>{{ post.original_post.content }}</p>
                            <small>{{ post.original_post.created_at }}</small>

                            {% for img in post.original_post.images.all %}
                                <img src="{{ img.image.url }}" style="max-width:200px; border-radius:10px; margin-top:10px;">
                            {% endfor %}
                        </div>

                    {# ████████ 2. ЕСЛИ ЭТО Обычный пост ████████ #}
                    {% else %}
                        <p><img src="{{ post.author.avatar.url }}" alt="Аватар" class="round"></p>
                        <h3>{{ post.author.username }}</h3>
                        <p>{{ post.content }}</p>
                        <small>{{ post.created_at }}</small>

                        {% for img in post.images.all %}
                            <img src="{{ img.image.url }}" style="max-width:200px; border-radius:10px; margin-top:10px;">
                        {% endfor %}
                    {% endif %}
                </div>

                {# ████████ 3. Кнопки лайков и репостов ████████ #}
                {% if user.is_authenticated %}
                    <button class="like-btn" data-post-id="{{ post.id }}">
                    {% if post.is_liked %}
                        <i class="fa-solid fa-heart" style="color:red;"></i>
                    {% else %}
                        <i class="fa-regular fa-heart"></i>
                    {% endif %}
                    </button>
                {% endif %}
                <span id="like-actual-{{ post.id }}">{{ post.likes.count }}</span>

                <!-- Счетчик комментариев -->
                <i class="fa-regular fa-comment"></i>
                <span id="comment-count">{{ post.comments.count }}</span>

                {% if not post.original_post %}
                    {% if user != c_user %}
                        <button class="repost-btn" data-post-id="{{ post.id }}">
                            <i class="fa-solid fa-retweet"></i>
                        </button>
                    {% else %}
                        <i class="fa-solid fa-retweet"></i>
                    {% endif %}
                <span id="repost-count-{{ post.id }}">{{ post.reposts.count }}</span>
                {% else %}
                    <i class="fa-solid fa-retweet"></i>
                    <span id="repost-count-{{ post.id }}">{{ post.reposts.count }}</span>
                {% endif %}

{#                {% if user.is_authenticated and user == post.author %}#}
{#                    <button class="del-post-btn" data-post-id="{{ post.id }}">#}
{#                        <i class="fa-regular fa-trash-can"></i>#}
{#                    </button>#}
{#                {% endif %}#}
            </div>
        {% empty %}
            <p>У вас пока нет постов.</p>
        {% endfor %}

    </section>

    <div id="repostModal" class="repost-modal">
        <div class="repost-modal-content">

            <span class="repost-close">&times;</span>

            <h3>Репост</h3>
            <!-- Оригинальный пост -->
            <div id="repost-original" class="repost-original-block"></div>
            <!-- Поле для своей подписи -->
            <textarea id="repost-text" class="repost-textarea" placeholder="Добавьте свою подпись..."></textarea>
            <button id="send-repost-btn" class="repost-send-btn" data-post-id="{{ post.id }}">
                Репост
            </button>

        </div>
    </div>

</div>
{% endblock %}
