{% extends 'base.html' %}

{% block title %}Подписки{% endblock %}

{% block content %}
<div class="w-100 text-center">
    <form autocomplete="off" id="search-form">
        {% csrf_token %}
         <input id="subscribers-search-input" class="p-3 w-50 search" placeholder="Найти пользователя">
    </form>
</div>

<div class="chat-list">
    <div id="subscribers-result-box">
        {% for item in subscribers %}
            <div class="catalog">
                <div class="food_container">
                    <a href="{% url 'profile' item.id %}">
                        <p> <img src="{{ item.avatar.url }}" style="width: 60px"> </p>
                        <p>{{ item.username }}</p>
                        <p>{{ item.bio }}</p>
                    </a>
                </div>
            </div>
        {% empty %}
            <p>Вы ни на кого не подписаны</p>
        {% endfor %}
    </div>
</div>
<script>
    window.CSRF_TOKEN = "{{ csrf_token }}";
</script>
{% endblock %}
